button{
    position: absolute;
    left: 45%;
    top: 15%;
    font-size: 20px;
}

body{
    background: #c4d3f6;
}

table {
    border-collapse: collapse;
    width: 50%;
  }
  
  table, th, td {
    border: 1px solid black;
  }

